NEXT_PUBLIC_SUPABASE_URL="https://qwnozmnrzgrdrtooqepo.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3bm96bW5yemdyZHJ0b29xZXBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5MjkxNzQsImV4cCI6MjEwMjUwNTE3NH0.6_5TKNWcBsh8v3bgRfI0nQb0n7VdQSquIPrfoEDxHP8"
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_VIP_PLAN_ID=
PAYPAL_WEBHOOK_ID=
